<div class="libraryDetail" 
      ng-show="isDetailVisible()">
  <button class="button button-clear closeLibraryDetail"
    ng-click="hideLibraryDetail()">
    <i class="icon ion-close-circled"></i>
  </button>
  <div class="info">
    <!--<img ng-src="{{library.iconURL()}}" class="libraryLogo">-->
    <div style="margin-left: 15px;">

      <div class="name" ng-bind-html="library().name | niceDashes"></div>
      <div class="openingHours" ng-bind-html="library().openingHoursForHumans"></div>

      <table>
        <tr>
          <td><span class="descKey">ADRESA</span></td>  
          <td>{{library().address}}</td> 
        </tr>
        <tr>
          <td><span class="descKey">OTV.&nbsp;HODINY</span></td>  
          <td ng-bind-html="library().openingHoursInSVK"></td> 
        </tr>
        <tr>
          <td><span class="descKey">TYP</span></td>  
          <td><abbr ng-attr-title="{{explanationFor(library().libraryType)}}">{{library().libraryType}}</abbr></td> 
        </tr>
      </table>
      
      <div class="webpage">
        <div>
          <button class="button button-small button-dark icon-left ion-home" ng-click="openExternalLink(library().website)" ng-show="library().website">
            Web knižnice
          </button>
          <button class="button button-small button-dark icon-left ion-social-facebook" ng-click="openExternalLink(library().facebook)" ng-show="library().facebook">
            Facebook 
          </button>
          <button class="button button-small button-dark icon-left ion-social-twitter" ng-click="openExternalLink(library().twitter)" ng-show="library().twitter">
            Twitter 
          </button>
          <button class="button button-small button-dark icon-left ion-social-googleplus" ng-click="openExternalLink(library().googlePlus)" ng-show="library().googlePlus">
            Google+ 
          </button>
          <button class="button button-small button-dark icon-left ion-android-map" ng-click="openExternalLink(library().osmLink)">
            OpenStreetMap
          </button>
        </div>
      </div>
      <div class="sharyLibrary">
        <span class="descKey">ZDIEĽAŤ ODKAZ NA KNIŽNICU</span>
        <div>
          <button ng-click="socialShare('copyURL', library())" 
          class="button button-small button-dark icon-left ion-link">
            URL
          </button>          
          <button ng-click="socialShare('facebook', library())" 
          class="button button-small button-dark icon ion-social-facebook" >
          </button>
          <button ng-click="socialShare('twitter', library())" 
          class="button button-small button-dark icon ion-social-twitter">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>