<div id="listOfLibraries" 		
  class="menuPopup ng-hide" 		
  ng-show="isVisible()">		
      <button 		
      class="button button-clear closeMenuPopup"		
        ng-click="hide()">		
          <i class="icon ion-close-circled"></i>		
      </button>       		
      <div class="info" style="height: 100%;">		
        <h1>Zoznam knižníc</h1>	
        <div style="margin-bottom: 10px">
          <select class="button button-dark button-outline button-small" 
          ng-model="selected.libLocation" required 
          ng-options='option.value as option.name for option in libLocations'>
          </select>
          <select class="button button-dark button-outline button-small" 
          ng-model="selected.libType" required 
          ng-options='option.value as option.name for option in libTypes'>
          </select>
        </div>	
        <p> Výsledkov: {{libraries.filter(selected.libType,selected.libLocation).length}}</p>
        <ion-scroll direction="y" style="height: 100%;">
          <ul>		
            <li ng-repeat="library in libraries.filter(selected.libType,selected.libLocation) | orderBy:'name'" 
            ng-click="showLibraryDetail(library)">
                  {{library.name}}
            </li>
          </ul>		
        </ion-scroll>		
        
      </div>		
</div>