<div id="sideMenu" ng-show="isVisible()">
  <div class="list">
    <div class="item" ng-click="openExternalLink('https://github.com/Infolovec/mapakniznic.sk/wiki/O-projekte-Mapa-kni%C5%BEn%C3%ADc')">
      <i class="icon ion-information-circled"></i> O projekte
    </div>
    <div class="item" ng-click="showListOfAllLibraries()">
      <i class="icon ion-android-list"></i> Zoznam knižníc
    </div>
    <div class="item" ng-click="openExternalLink('https://github.com/Infolovec/mapakniznic.sk/wiki/Ako-prida%C5%A5-alebo-zmeni%C5%A5-%C3%BAdaje-o-kni%C5%BEnici')">
      <i class="icon ion-android-create"></i> Pridať alebo zmeniť údaje
    </div>
  </div>
</div>
