<ion-view ng-click="changeSideMenuVisibility($event)">
<div class="bar bar-header item-input-inset" id="mapHeader">
  <button class="button button-outline icon ion-navicon-round" 
  id="menuButton"
  ng-class="showSideMenu ? 'active' : ''">
  </button>
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input id="searchField" 
    type="search" 
		placeholder="Nájdi knižnicu"
		ng-model="search.query"
		ng-model-options="{ debounce: 800 }"
		ng-change="doSearch()">
  </label>
  <button ng-show="search.query.length > 0" 
    class="button button-clear" 
    id="clearSearch" 
    ng-click="clearSearch()">
    <span>Výsledkov: {{searchFoundLibraries.length}}</span> <i class="icon ion-close-circled"></i>
  </button>
</div>

	<ion-content scroll="false" data-tap-disabled="true">
      <div id="map"></div>
      <div id="sideMenu" ng-show="showSideMenu">
        <div class="list">
          <div class="item" ng-click="openExternalLink('https://github.com/Infolovec/mapakniznic.sk/wiki/O-projekte-Mapa-kni%C5%BEn%C3%ADc')">
            <i class="icon ion-information-circled"></i> O projekte
          </div>
          <div class="item" ng-click="openExternalLink('https://github.com/Infolovec/mapakniznic.sk/wiki/Ako-zdie%C4%BEa%C5%A5-odkaz-na-kni%C5%BEnicu')">
            <i class="icon ion-android-share-alt"></i> Zdieľať odkaz na knižnicu
          </div>
        </div>
      </div>
      <div class="libraryDetail" 
      ng-repeat="library in libraries" 
      ng-show="isDetailVisible(library)">
          <button class="button button-clear closeLibraryDetail"
          ng-click="hideLibraryDetail()">
              <i class="icon ion-close-circled"></i>
          </button>
          <div class="info">
            <img ng-src="{{library.iconURL()}}" class="libraryLogo">
            <div style="margin-left: 65px;">
              <div class="name">{{library.name}}</div>
              <div class="address">{{library.address}}</div>
              <div class="openingHours" ng-bind-html="library.openingHoursForHumans"></div>
              <div class="webpage" ng-show="library.hasWebContact()">
                <button class="button button-small button-dark icon-left ion-home" ng-click="openExternalLink(library.website)" ng-show="library.website">
                 Webstránka knižnice
                </button>
                <button class="button button-small button-dark icon-left ion-social-facebook" ng-click="openExternalLink(library.facebook)" ng-show="library.facebook">
                 Facebook 
                </button>
                <button class="button button-small button-dark icon-left ion-social-twitter" ng-click="openExternalLink(library.twitter)" ng-show="library.twitter">
                 Twitter 
                </button>
                <button class="button button-small button-dark icon-left ion-social-googleplus" ng-click="openExternalLink(library.googlePlus)" ng-show="library.googlePlus">
                 Google+ 
                </button>
                <button class="button button-small button-dark icon-left ion-android-map" ng-click="openExternalLink(library.osmLink)">
                 OpenStreetMap
                </button>
              </div>
            </div>
          </div>
      </div>
	</ion-content>
</ion-view>