<ion-view>
<div class="bar bar-header item-input-inset bar-positive">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input id="searchField" 
    type="search" 
		placeholder="Nájdi knižnicu"
		ng-model="search.query"
		ng-model-options="{ debounce: 800 }"
		ng-change="doSearch()">
  </label>
  <button class="button button-clear" ng-click="clearSearch()">
    Zrušiť
  </button>
</div>

	<ion-content scroll="false" data-tap-disabled="true">
      <div id="map"></div>
      <div class="libraryDetail" 
      ng-repeat="library in libraries" 
      ng-show="isDetailVisible(library)">
          <button class="button button-clear closeLibraryDetail"
          ng-click="hideLibraryDetail()">
              <i class="icon ion-close-circled"></i>
          </button>
          <div class="name">{{library.name}}</div>
          <div class="openingHours">{{library.openingHours}}</div>
      </div>
	</ion-content>
</ion-view>