#map {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.libraryDetail {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  z-index: 1;  
  background-color:rgba(254, 255, 213, 0.73);
  color: #2d2d2d;
  padding: 10px;
}

.libraryDetail .info {
  margin-top: 10px;
}

.libraryDetail .info .name {
  font-size: 120%;
  font-weight: 500;
}

.libraryDetail .button.closeLibraryDetail {
  float: right;
  color: #2d2d2d;
}

#clearSearch i.icon::before {
    font-size: 22px;
}

#mapHeader.bar-header {
  background-color:rgb(209, 210, 169)
}

#mapHeader input, #mapHeader .item-input-wrapper{
  background-color: white
}

#mapHeader button#clearSearch {
  color: #2d2d2d;
}