#map {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.libraryDetail {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  z-index: 1;  
  background-color:rgba(87, 121, 247, 0.72);
  color: white;
  padding: 10px;
}

.libraryDetail .info {
  margin-top: 10px;
}

.libraryDetail .info .name {
  font-size: 120%;
  font-weight: 500;
}

.libraryDetail .button.closeLibraryDetail {
  float: right;
  color: white;
}

#clearSearch i.icon::before {
    font-size: 22px;
}