#map {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.bar #menuButton {
  color: #2d2d2d;
  height: 32px;
  margin-right: 10px;
  background-color: rgba(254, 255, 213, 0.73);
}

.bar #menuButton.active {
  background-color: rgba(110, 111, 50, 0.73);
}

#sideMenu {
  position: absolute;
  top: 44px;
  left:0;
  z-index: 3;
}

#sideMenu .list .item i {
  margin-right: 5px;
}


.libraryDetail, .menuPopup {
  position: absolute;
  bottom: 0;
  min-height: 20%;
  width: 100%;
  z-index: 1;  
  background-color:rgba(254, 255, 213, 0.73);
  color: #2d2d2d;
  padding: 5px;
  border-top: 2px solid rgb(209, 210, 169);
}

.menuPopup {
  top: 44px;
  background-color:rgba(254, 255, 213, 0.89);
}

.menuPopup .info {
  margin-left: 20px;
  margin-top: 12px;
}

.menuPopup .info h1 {
  font-size: 18px;
}

.menuPopup#listOfLibraries .button.button-dark.button-outline {
  background-color: #f9ffe6;
  border-color: #949494;
}
.menuPopup#listOfLibraries .info ul li {
  padding: 3px 5px 3px 5px;
  cursor: pointer;
  color: #171717;
  background-color: #f9ffe6;

}

.menuPopup#listOfLibraries .info ul li:nth-child(odd) {
  background-color: #e3e4bc;
  border-top: 1px solid #939479;
  border-bottom: 1px solid #939479;
}

.menuPopup#listOfLibraries .info ul li:hover {
  /* background-color: #d1d2a9; */
  background-color: #585858;
  color: #e3e4bc;
}



.libraryDetail .info {
  margin-top: 10px;
}

.libraryDetail .info .libraryType abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

.libraryDetail .info .webpage {
  margin-top: 5px;
  margin-bottom: 5px;
}

.libraryDetail .info .status.isOpen {
  color: green;
  font-weight: 900;
}

.libraryDetail .info .status.isClosed {
  color: red;
  font-weight: 900;
}

.libraryDetail .info .name {
  font-size: 120%;
  font-weight: 500;
}

.libraryDetail .button.closeLibraryDetail, .menuPopup .button.closeMenuPopup {
  float: right;
  color: #2d2d2d;
}

.libraryDetail .libraryLogo {
  height: 50px;
  position: absolute;
  left: 10px;
}

#clearSearch i.icon::before {
    font-size: 22px;
}

#mapHeader.bar-header {
  background-color:rgb(209, 210, 169)
}

#mapHeader input, #mapHeader .item-input-wrapper{
  background-color: white
}

#mapHeader button#clearSearch {
  color: #2d2d2d;
}

